---
layout: default
title: BlackArch
subtitle: The Advanced Penetration Testing Distribution.
id: home
icon: fa-home
nav: true
position: 0
description: Powered by Arch Linux and our community.
---
<div class="section">
    <div class="container">
  <p>
      Do you feel that other Penetration Testing Distributions lack flexibility? Would you like to have packages that are selected by people from a large variety of backgrounds?
      Based on <a href="http://www.archlinux.org/" target="_blank">Arch Linux</a>, BlackArch is the advanced penetration testing distribution. 
      Our repository contains <a href="packages.html">{{ site.data.packages.size }}</a> packages selected by our community. Packages that can be install individually or in groups.
      BlackArch is compatible with existing Arch Linux installations. For more information, see the <a href="downloads.html#install-repo">installation instructions</a>.
      Please consult our <a href="blog.html">blog</a> for the most recent changes to BlackArch. BlackArch is a community effort, feel free to join! To report bugs and request new packages, please visit the
      <a href="https://github.com/BlackArch/blackarch/issues" target="_blank">issue tracker</a> on Github, stop by <a href="community.html">IRC</a>, or
      <a href="mailto:team@blackarch.org">email</a> us. The BlackArch Live ISO contains multiple window managers. Check out the screenshots.
  </p>
</div>
</div>
<div class="section">
<div class="container">
  <h5 class="header red-text">Latest News</h3>
  <div class="row">
    {% for post in site.posts limit: 4 %}
    <div class="col s12 m6 l3">
      <div class="icon-block {{ post.category }}" >
        <h2 class="center grey-text lighten-1">
          <i class="fas {{ post.icon }}"></i>
        </h2>
        <h5 class="center">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h5>
        <p class="light center">
          {{ post.date | date: "%a, %b %d %Y" }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
<div class="section">
<div class="container">
  <h5 class="header red-text">Team</h3>
  <p>
      BlackArch is backed by a team of volunteers.
  </p>
  <table class="table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Nickname</th>
              <th class="hide-on-med-and-down">E-Mail</th>
              <th class=" hide-on-small-only">GPG Key</th>
              <th>Role</th>
          </tr>
      </thead>
      <tbody>
      {% assign packages = site.data.developers %}
      {% for member in packages %}
          <tr>
              <td itemprop="givenName">{{ member.name }}</td>
              <td itemprop="additionalName">{{ member.nick }}</td>
              <td class="hide-on-med-and-down" itemprop="email"><a href="mailto://{{ member.email }}">{{ member.email }}</a></td>
              <td class=" hide-on-small-only"><a href="{{ member.gpg }}" target="_blank">{{ member.hex }}</a></td>
              <td itemprop="jobTitle">{{ member.role }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
</div>
  <!--<div class="tile is-ancestor">
    <div class="tile is-12">
      <div class="tile">
        <div class="tile is-parent">
            <article class="tile is-child">
              <figure class="image">
                <a href="images/screenshots/openbox.png"><img src="images/screenshots/openbox.png" alt="BlackArch with openbox"></a>
            </figure>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <figure class="image">
                <a href="images/screenshots/fluxbox.png"><img src="images/screenshots/fluxbox.png" alt="BlackArch with fluxbox"></a>
            </figure>
          </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child">
              <figure class="image">
                <a href="images/screenshots/awesome.png"><img src="images/screenshots/awesome.png" alt="BlackArch with awesome wm"></a>
            </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child">
              <figure class="image">
                <a href="images/screenshots/spectrwm.png"><img src="images/screenshots/spectrwm.png" alt="BlackArch with spectrwm"></a>
            </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child">
              <figure class="image">
                <a href="images/screenshots/lxdm.png"><img src="images/screenshots/lxdm.png" alt="BlackArch with lxdm"></a>
            </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child">
              <figure class="image">
                <a href="images/screenshots/syslinux.png"><img src="images/screenshots/syslinux.png" alt="BlackArch wallpaper"></a>
              </figure>
            </article>
          </div>
      </div>
    </div>
  </div>-->
 