  <!-- Footer -->
  <footer class="footer is-dark">
      <div class="container is-dark">
          <div class="content has-text-centered is-dark" itemscope itemtype="https://schema.org/Organization">
            <link itemprop="url" href="https://blackarch.org">
            <a itemprop="sameAs" href="https://github.com/BlackArch" title="Github" target=_blank><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
            <a itemprop="sameAs" href="https://twitter.com/blackarchlinux" title="Twitter" target=_blank><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a itemprop="sameAs" href="irc://irc.freenode.net/blackarch" title="Irc" target=_blank><i class="fas fa-comments fa-2x" aria-hidden="true"></i></a>
            <a itemprop="sameAs" href="https://blackarch.org/blog.html" title="Blog" target=_blank><i class="fas fa-newspaper-o fa-2x" aria-hidden="true"></i></a>
            <a itemprop="sameAs" href="https://blackarch.org/rss.xml" title="Rss" target=_blank><i class="fas fa-rss fa-2x" aria-hidden="true"></i></a>
          </div>
      </div>
      <div class="container">
          <div class="content has-text-centered">
              <p itemprop="legalName">BlackArch 2013-2018</p>
          </div>
      </div>
  </footer>
  <!-- End Footer -->
  {% include scripts.html %}