  <!-- Footer -->
  <footer class="page-footer grey darken-4">
      <div class="container">
          <div class="row center">
            <div class="col s12">
                <a itemprop="sameAs" href="https://github.com/BlackArch" title="Github" target=_blank><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="https://twitter.com/blackarchlinux" title="Twitter" target=_blank><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="irc://irc.freenode.net/blackarch" title="Irc" target=_blank><i class="fas fa-comments fa-2x" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="https://blackarch.org/blog.html" title="Blog" target=_blank><i class="fas fa-newspaper-o fa-2x" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="https://blackarch.org/rss.xml" title="Rss" target=_blank><i class="fas fa-rss fa-2x" aria-hidden="true"></i></a>
            </div>
          </div>
      </div>
      <div class="footer-copyright black">
          <div class="container">
              BlackArch 2013 - 2018
          </div>
      </div>
  </footer>
  <!-- End Footer -->
  {% include scripts.html %}