<head>
	<meta charset="UTF-8">
    <meta name="description" content="A lightweight, pentest distribution: BlackArch is a lightweight expansion to Arch Linux for penetration testers.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="{{ '/css/bulma.css' | relative_url }}"rel="stylesheet">
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="{{ '/css/blackarch.bulma.css' | relative_url }}" rel="stylesheet">
    <title>{{ page.title }} | BlackArch</title>
</head>