<ul id='dropdown1' class='dropdown-content'>
        {% assign sorted_packages = site.packages | sort: 'title' %}
        {% for package in sorted_packages %}
            {% assign caturl = '' | append: package.id | append: '.html' %}

            {% if page.id == package.id %}
                <li>{{ package.title | capitalize }}</li>
            {% else %}
                <li><a href="{{ caturl | relative_url }}" title="{{ package.title }}">{{ package.title | capitalize }}</a></li>
            {% endif %}
        {% endfor %}
  </ul>
<div class="navbar">
    <nav role="navigation" class="black">
        <div class="nav-wrapper">
                <div class="container">
            <a class="brand-logo" href="#!">
                <img src="{{ 'images/logo/logo-38-49.png' | relative_url }}" alt="BlackArch Logo">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav" class="right hide-on-med-and-down">
            {% assign navigation_pages = site.pages | where: 'nav', "true" | sort: 'position' %}
            {% for node in navigation_pages %}
                {% if node.nav %}
                {% if page.url == node.url %}
                <li class="active"><a class="navbar-item selected" itemprop="url">{{node.id | capitalize }}</a></li>
                {% else %}
                <li><a class="navbar-item" itemprop="url" href="{{node.url | relative_url }}">{{node.id | capitalize }}</a></li>
                {% endif %}
                {% endif %}
            {% endfor %}
            <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="mobile-demo" class="sidenav">
                    <li><div class="user-view black"></div></li>
                {% assign navigation_pages = site.pages | where: 'nav', "true" | sort: 'position' %}
                {% for node in navigation_pages %}
                    {% if node.nav %}
                    {% if page.url == node.url %}
                    <li class="active"><a class="red">{{node.id | capitalize }}</a></li>
                    {% else %}
                    <li><a href="{{node.url | relative_url }}">{{node.id | capitalize }}</a></li>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
                </div>
        </div>
    </nav>
</div>