<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ 'images/logo/logo-38-49.png' | relative_url }}" alt="BlackArch Linux Logo" width="38" height="49">
            </a>
        
            <div class="navbar-burger" data-target="sitemenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="sitemenu" class="navbar-menu">
            <div class="navbar-start"></div>
            <div class="navbar-end">
                {% assign navigation_pages = site.pages | where: 'nav', "true" | sort: 'position' %}
                {% for node in navigation_pages %}
                    {% if node.nav %}
                    {% if page.url == node.url %}
                        <a class="navbar-item selected" itemprop="url"><i class="fas {{ node.icon }}"></i>&nbsp;{{node.title}}</a>
                    {% else %}
                        <a class="navbar-item" itemprop="url" href="{{node.url | relative_url }}"><i class="fas {{ node.icon }}"></i>&nbsp;{{node.title}}</a>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
  </nav>