<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
  <section class="section">
    <div class="container">
        {% if page.title != 'Home' %}
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a class="home" href="{{ 'index.html' | relative_url }}">Home</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
            </ul>
        </nav>
        {% endif %}
        <div class="columns underline">
            <div class="column has-text-left">
                <h1 class="title">{{ page.title }}</h1>
            </div>
            <div class="column has-text-right">
                <h2 class="subtitle">{{ page.subtitle }}</h2>
            </div>
        </div>
        <div class="content">
        {{ content }}
        </div>
    </div>
  </section>
  
  {% include footer.html %}
  </body>
</html>