<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>
  {% include header.html %}
    {% assign groupname = page.group %}
    {% if page.id != 'packages' %}
    {% assign packages = site.data.packages | where:'group', groupname | sort: 'build' | reverse  %}
    {% else %}
    {% assign packages = site.data.packages | sort: 'build' | reverse %}
    {% endif %}

    <div class="section grey lighten-4">
        <div class="container">
            <h1 class="header red-text">
            {{ page.title }}
            </h1>
            <h5 class="header light">
            {{ packages.size }} packages
            </h5>
            <div class="row">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th class="tbl-name">Name</th>
                    <th class="tbl-version hide-on-small-only">Version</th>
                    <th class="tbl-build hide-on-med-and-down">Build</th>
                    <th class="tbl-description hide-on-small-only">Description</th>
                    {% if page.id == 'packages' %}
                    <th class="tbl-categorie hide-on-med-and-down">Category</th>
                    {% endif %}
                    <th class="tbl-homepage">Website</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for member in packages %}
                <tr>
                    <td class="tbl-name" itemprop="name">{{ member.name }}</td>
                    <td class="tbl-version hide-on-small-only" itemprop="version">{{ member.vers }}</td>
                    <td class="tbl-build hide-on-med-and-down" itemprop="build">{{ member.build | date: "%Y-%m-%d" }}</td>
                    <td class="tbl-description hide-on-small-only" itemprop="description">{{ member.desc}}</td>
                    
                    {% if page.id == 'packages' %}
                    <td class="tbl-categorie hide-on-med-and-down" itemprop="genre">
                        {% assign cats = member.group | split: ';' %}
                        {% for cat in cats %}
                            {% assign groupurl = '/packages/' | append: cat | append: '.html' %}
                            <span class="new badge grey lighten-4" data-badge-caption=""><a class="red-text" href="{{ groupurl | relative_url }}" title="{{ cat }}">{{ cat | capitalize }}</a></span>
                        {% endfor %}
                    </td>
                    {% endif %}
                    <td class="tbl-homepage centered" itemprop="mainEntityOfPage"><a href="{{ member.url }}" target="_blank"><i class="fa fa-globe" style="color:#4BA6E7"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
  {% include footer.html %}
  </body>
</html>