<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
  {% include carousel.html %}
  <!-- Page Content -->
  <div class="container result">
    <!-- Page Heading/Breadcrumbs -->
    {% assign groupname = page.group %}
    {% if page.id != 'tools' %}
    {% assign packages = site.data.tools | where:'group', groupname | sort: 'name' %}
    {% else %}
    {% assign packages = site.data.tools | sort: 'name' %}
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header page-header-title">
                <h1>{{ page.title }}</h1> <h2>{{ packages.size }} packages</h2>
            </div>
            <ol class="breadcrumb">
                <li><a class="home" href="{{ 'index.html' | relative_url }}">Home</a></li>
                {% if page.id != 'tools' %}
                <li class="active"><a class="tools" href="{{ 'tools.html' | relative_url }}">Tools</a></li>
                <li class="active">{{ page.title }}</li>
                {% else%}
                <li>Tools</li>
                {% endif %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ content }}
            <table id="tbl-minimalist" class="table" itemscope itemtype="https://www.schema.org/CreativeWork">
                <thead>
                    <tr id=idx-tool>
                        <th class="tbl-name">Name</th>
                        <th class="tbl-version">Version</th>
                        <th class="tbl-description">Description</th>
                        <th class="tbl-categorie">Category</th>
                        <th class="tbl-homepage">Website</th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for member in packages %}
                    <tr>
                        <td class="tbl-name" itemprop="name">{{ member.name }}</td>
                        <td class="tbl-version vcat" itemprop="version">{{ member.vers }}</td>
                        <td class="tbl-description dcat" itemprop="description">{{ member.desc}}</td>
                        {% assign groupurl = '/tools/' | append: member.group | append: '.html' %}
                        <td class="tbl-categorie" itemprop="genre"><a class=hcat href="{{ groupurl | relative_url }}" title="{{ member.group }}">{{ member.group | capitalize }}</a></td>
                        <td class="tbl-homepage" itemprop="mainEntityOfPage"><a href="{{ member.url }}" target="_blank"><i class="fa fa-globe" style="color:#4BA6E7"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <!-- /.row --> 
  {% include footer.html %}
  </body>
</html>